<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{ books.btitle }}</h1>
    英雄訊息如下<br>
    <ul>
        {% for hero in heros %}
        <li>
            {{ hero.hname }} {{ hero.hcomment }}
        </li>
        {% empty %}
        <li>沒有英雄訊息</li>
        {% endfor %}
    </ul>
</body>

</html>